{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="homepage">
        <div class="wrap">
            <div class="homepage-txt">
                <h1>Une gestion relation client au top avec CRM</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet architecto corporis deserunt,
                    dolore eum
                    explicabo iure nobis quia reprehenderit! Ab accusamus asperiores assumenda, autem exercitationem
                    magni quos
                    repellat unde.</p>
                <a href="">Créer un compte gratuitement</a>
            </div>
            <div class="homepage-illustration wrap">
                <img src="{{ asset('images/homepage-nature.svg') }}" alt="HomePage">
            </div>
        </div>
    </div>


{% endblock %}
