<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue sur notre plateforme CRM{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="/build/app.css">
{#        <link rel="icon" href="{{ asset('images/logo.png') }}" />#}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% endblock %}
</head>
<body>

<nav id="mainnav" class="group">
    <div class="wrap">
        <div id="menu">&#x2261;</div>
        <div class="logo">
            <img src="{{ asset('images/logo.png') }}" alt="Logo">
        </div>
        <ul class="link">
            <li><a href="">Informations</a></li>
            <li><a href="">Avantages</a></li>
            <li><a href="">Infos 3</a></li>
            <li><a href="" class="login">Se connecter</a></li>
        </ul>
    </div>
</nav>
<!-- responsive navbar -->
<script>
    $(document).ready(function () {
        $('#menu').bind('click', function (event) {
            $('#mainnav ul').slideToggle();
        });
        $(window).resize(function () {
            var w = $(window).width();
            if (w > 768) {
                $('#mainnav ul').removeAttr('style');
            }
        });
    });
</script>
{% block body %}{% endblock %}
</body>
</html>
