{% extends 'base.html.twig' %}

{% block body %}

    <style>
        body {
            background-color: var(--primary-color);
        }
    </style>

    <div class="fix-block-dashboard"></div>

    <div class="block-dashboard">
        <div class="dashboard-homepage">
            Bienvenue sur notre dashboard du CRM le plus performant du paf !
        </div>
    </div>
    <div class="clear"></div>

{% endblock %}
